In [ ]:
import numpy as np
import pandas as pd
from datetime import datetime

In [ ]:
data ={'date':['2018-01-01','2018-02-01',
'2018-03-01', '2018-04-01',
'2018-05-01', '2018-06-01',
'2018-01-01', '2018-02-01',
'2018-03-01', '2018-04-01',
'2018-05-01', '2018-06-01'],
'visitors': [35,30,82,26,
83, 46,40,57,95,57,87,42]}

In [ ]:
df =pd.DataFrame(data,
columns=['date','visitors'])

In [ ]:
df.head()

<bound method NDFrame.head of           date  visitors
0   2018-01-01        35
1   2018-02-01        30
2   2018-03-01        82
3   2018-04-01        26
4   2018-05-01        83
5   2018-06-01        46
6   2018-01-01        40
7   2018-02-01        57
8   2018-03-01        95
9   2018-04-01        57
10  2018-05-01        87
11  2018-06-01        42>

In [ ]:
df.dtypes

date        object
visitors     int64
dtype: object

In [ ]:
df.set_index('date', inplace=True)
df.sort_index(inplace=True)

In [ ]:
df.head()

            visitors
date
2018-01-01        35
2018-01-01        40
2018-02-01        30
2018-02-01        57
2018-03-01        82

In [ ]:
df.groupby('date').count()

            visitors
date
2018-01-01         2
2018-02-01         2
2018-03-01         2
2018-04-01         2
2018-05-01         2
2018-06-01         2

In [ ]:
df.groupby('date').describe()

           visitors
              count  mean        std   min    25%   50%    75%   max
date
2018-01-01      2.0  37.5   3.535534  35.0  36.25  37.5  38.75  40.0
2018-02-01      2.0  43.5  19.091883  30.0  36.75  43.5  50.25  57.0
2018-03-01      2.0  88.5   9.192388  82.0  85.25  88.5  91.75  95.0
2018-04-01      2.0  41.5  21.920310  26.0  33.75  41.5  49.25  57.0
2018-05-01      2.0  85.0   2.828427  83.0  84.00  85.0  86.00  87.0
2018-06-01      2.0  44.0   2.828427  42.0  43.00  44.0  45.00  46.0

In [ ]:
pd.date_range('2018-05-30', '2018-06-02')

DatetimeIndex(['2018-05-30', '2018-05-31', '2018-06-01', '2018-06-02'], dtype='datetime64[ns]', freq='D')

In [ ]:
pd.date_range('2018-05-30', periods=4)

DatetimeIndex(['2018-05-30', '2018-05-31', '2018-06-01', '2018-06-02'], dtype='datetime64[ns]', freq='D')

In [ ]:
pd.date_range('2018-05-30', periods=4,freq='M')

DatetimeIndex(['2018-05-31', '2018-06-30', '2018-07-31', '2018-08-31'], dtype='datetime64[ns]', freq='M')

In [ ]:
from numpy.random import randn
idx =pd.date_range('2018-06-04 00:00:00',
periods=4)
cols =['A','B','C','D']

In [ ]:
data =randn(len(idx), len(cols))

In [ ]:
df =pd.DataFrame(data=data,
index=idx, columns=cols)
df.index.name='date'

In [ ]:
print (df)

                   A         B         C         D
date
2018-06-04  0.089398  1.165119  0.706957 -1.181025
2018-06-05 -0.970126 -0.455857 -0.729163 -0.003004
2018-06-06  0.157466 -1.189440  0.879647  0.094280
2018-06-07 -0.839164 -1.378487 -0.687395  0.033940

In [ ]:
df.reset_index(inplace=True)

In [ ]:
melted=pd.melt(df,id_vars='date' ,
               var_name= 'feature' ,
value_name='reading')

In [ ]:
print(melted)

         date feature   reading
0  2018-06-04       A  0.089398
1  2018-06-05       A -0.970126
2  2018-06-06       A  0.157466
3  2018-06-07       A -0.839164
4  2018-06-04       B  1.165119
5  2018-06-05       B -0.455857
6  2018-06-06       B -1.189440
7  2018-06-07       B -1.378487
8  2018-06-04       C  0.706957
9  2018-06-05       C -0.729163
10 2018-06-06       C  0.879647
11 2018-06-07       C -0.687395
12 2018-06-04       D -1.181025
13 2018-06-05       D -0.003004
14 2018-06-06       D  0.094280
15 2018-06-07       D  0.033940

In [ ]:
melted.set_index('date', inplace=True)
melted.sort_index(inplace=True)

In [ ]:
print(melted)

           feature   reading
date
2018-06-04       A  0.089398
2018-06-04       B  1.165119
2018-06-04       C  0.706957
2018-06-04       D -1.181025
2018-06-05       A -0.970126
2018-06-05       B -0.455857
2018-06-05       C -0.729163
2018-06-05       D -0.003004
2018-06-06       A  0.157466
2018-06-06       B -1.189440
2018-06-06       C  0.879647
2018-06-06       D  0.094280
2018-06-07       A -0.839164
2018-06-07       B -1.378487
2018-06-07       C -0.687395
2018-06-07       D  0.033940